* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #22254b;
    margin: 0;
}
main {
    padding-top: 8rem;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 80%;
}
header {
    height: 6.5rem;
    position: fixed;
    width: 100%;
    background-color: #373b69;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.3rem;
    z-index: 1;
    opacity: .99;
    box-shadow: 0 5px 10px 10px rgba(0, 0, 0, 0.1);
}
#logo {
    margin-left: 4rem;
    font-size: 3rem;
    text-decoration: none;
    color: white;
    display: flex;
    position: relative;
    align-items: center;
    gap: .5rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-family: monospace;
}
.logo-img {
    width: 4rem;
}
#form {
    margin-right: 4rem;
}
.search {
    background-color: #22254b;
    border: 2px solid #22254b;
    padding: 1rem 3rem;
    border-radius: 30px;
    font-family: inherit;
    color: #fff;
    font-size: 1.1rem;
}
.search::placeholder {
    color: #7378c5;
    font-size: 1.1rem;
}
.search:focus {
    background-color: #22254b;
    box-shadow: inset 0 0 20px 5px rgba(0, 0, 0, 0.3) ;
    outline: none;
}
.movie {
    background-color: #373b69;
    border-radius: 3px;
    margin: 1rem;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    width: 300px;
    overflow: hidden;
    position: relative;
}
.movie-img {
    max-width: 100%;
    height: 400px;
    width: 300px;
}
.movie-info {
    color: #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .8rem 2rem;
    letter-spacing: 0.5px;
    cursor: pointer;
    position: relative;
}
.movie-info h3 {
    margin: 0;
}
.movie-info span {
    background-color: #22254b;
    border-radius: 3px;
    font-weight: bold;
    padding: .25rem .5rem;
}
.movie-info span.green {
    color:rgb(39, 189, 39)
}
.movie-info span.orange {
    color: orange;
}
.movie-info span.red {
    color: rgb(189, 42, 42);
}

.overview {
    background-color: #000;
    color: #fff;
    font-weight: bold;
    opacity: .8;
    padding: 2rem;
    position: absolute;
    max-height: 100%;
    overflow: auto;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateY(100%);
    transition: transform .3s ease-in-out;
}
.overview h4 {
    margin-top: 0;
    margin-bottom: .5rem;
}
.movie:hover .overview {
    transform: translateY(0);
}
#nav-btn,
#nav-btn-close,
#search-btn,
#exit-btn{
    display: none;
    text-decoration: none;
}
.hidden {
    display: none !important;
}
.mobile-nav {
    background: #373b69;
    top: 72px;
    width: 100%;
    height: 92vh;
    z-index: 2;
    opacity: 0.92;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    transition: 0.3s ease-in;
    transform: translateX(-100%);
    padding: 2rem;
}
.mobile-nav.opened {
    transform: translateX(0);

}
.mobile-nav ul {
    position: relative;
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}
.nav-link {
    display: block;
    color: white;
    padding: 1.3rem 1.5rem;
    font-size: 1.8rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-family: monospace;
    transition: .3s all;
}
.nav-link:hover {
    color: #7378c5;
    font-weight: lighter;
    font-size: 2.2rem;
}
.social {
    position: relative;
    margin-bottom: 1rem;
    width: 100%;
    display: flex;
    gap: 1rem;
    justify-content: center;
    text-align: center;
}
.social div {
    height: 5rem;
    width: 5rem;
    margin: 0.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.social a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-family: monospace;
}
.social i {
    font-size: 2rem;
    margin-top: -1rem;
    margin-bottom: 0.5rem;
}
footer {
    width: 100%;
    background: #373b69;
    box-shadow: 0 5px 10px 10px rgba(0, 0, 0, 0.1);
    opacity: .99;
    padding-bottom: 2rem;
}
.social-footer {
    height: 8rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
}
.social-footer div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.social-footer a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.social-footer i {
    font-size: 3rem;
}
.social-footer p {
    margin-top: .5rem;
}
footer .content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;  
    gap: .5rem;
}
.content p {
    font-size: 1.2rem;
    color: #fff;
    font-weight: lighter;
}
.content span {
    font-weight: lighter;
}
@media (max-width: 576px) {
    main {
        justify-content: center;
        width: 100%;
        margin-bottom: 1rem;
    }
    #logo {
        margin-left: 0;
        font-size: 1.5rem;
        color: white;
        letter-spacing: 0;
    }
    .logo-img {
        width: 2rem;
    }
    header {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 4.5rem;
    }
    main {
        padding-top: 5.5rem;
    }
    #form {
        position: absolute;
        margin-right: 0;
        transform: translateX(200%);
        transition: .5s all;
    }
    #form.opened {
        position: relative;
        transform: translateX(0);
    }
    .search {
        margin: 0;
        width: 19rem;
        height: 3.4rem;
        padding: 1rem;
        border-radius: 20px;
        font-size: 1.3rem;
    }
    .search::placeholder {
        padding-left: 0;
    }
    #nav-btn,
    #nav-btn-close,
    #search-btn{
        display: block;
        color: white;
        font-size: 2rem;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        transition: 1s all;
    }
    .fa-search {
        transition: 1s;
        display: block;
        right: .75rem;
    }
    .fa-bars,#nav-btn-close {
        font-size: 2.5rem;
        left: .75rem;
    }
    .social-footer i {
        font-size: 2rem;
    }
    .social-footer {
        height: 7rem;
    }
}